body {
    background-color: antiquewhite;
font-size: 1.5rem;
color: black;
text-align:center;
height: 100vh;
margin: 20px;
padding: 20px
}
h1 {
    color: darkslategray;
}
wrapper {
    size: 2rem;
    color: bold black;
}
div {
    position: relative;
    display: block;

}